<nav class="navbar navbar-expand-lg site-navbar sticky-top">
  <div class="container">
    <a class="navbar-brand brand-mark" href="/">
      <span class="brand-icon"><i class="fa-solid fa-compass"></i></span>
      <span>WandrLust</span>
    </a>

    <button
      class="navbar-toggler border-0 shadow-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto nav-stack">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/listings">All Listings</a>
        <a class="nav-link nav-cta" href="/listings/new">Add Listing</a>
      </div>
    </div>
  </div>
</nav>
